tools/pensoft_taxPub.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <namespace ns="http://plazi.org/taxpub"/>
        <validate schema="tax-treatment-NS0.dtd"/>
        <validate schema="pensoft_IdKey.sch"/>
    </namespace>

</rules>
